<div class="container" id="login-container">
    <div class="row">
        <div class="col s12">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> <span id="user"></span><span id="login">Login</span>
        </div>
    </div>
</div>
<h1 id="race-header">Race Finder</h1>

<div class="container" id="jumbotron">
    <img id="running-man" src="assets/images/running.gif">
    <div id="carousel" class="carousel">

        <a id="carousel-item-0" class="carousel-item" href="http://www.bsim.org/site3.aspx" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-0" src="assets/images/big-sur.jpg">
                    <span id="card-title-0" class="card-title">Big Sur</span>
                </div>
            </div>
            <div id="carousel-modal-0" class="card-modal">
                <p id="carousel-modal-date-0" class="carousel-modal-date">4/29/2018</p>
                <p id="carousel-modal-city-state-0" class="carousel-modal-city-state">Carmel, CA</p>
                <p id="carousel-modal-temp-0" class="carousel-modal-temp">70.0&deg;</p>
            </div>
        </a>  
        <a id="carousel-item-1" class="carousel-item" href="http://www.thesfmarathon.com/" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-1" src="assets/images/san-francisco.jpg">
                    <span id="card-title-1" class="card-title">San Francisco</span>
                </div>
            </div>
            <div id="carousel-modal-1" class="card-modal">
                <p id="carousel-modal-date-1" class="carousel-modal-date">7/22/2018</p>
                <p id="carousel-modal-city-state-1" class="carousel-modal-city-state">San Francisco, CA</p>
                <p id="carousel-modal-temp-1" class="carousel-modal-temp">61.5&deg;</p>
            </div>
        </a>
        <a id="carousel-item-2" class="carousel-item" href="http://www.baa.org/races/boston-marathon.aspx" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-2" src="assets/images/boston.jpg">
                    <span id="card-title-2" class="card-title">Boston</span>
                </div>
            </div>
            <div id="carousel-modal-2" class="card-modal">
                <p id="carousel-modal-date-2" class="carousel-modal-date">4/16/2018</p>
                <p id="carousel-modal-city-state-2" class="carousel-modal-city-state">Boston, MA</p>
                <p id="carousel-modal-temp-2" class="carousel-modal-temp">48.0&deg;</p>
            </div>
        </a>
        <a id="carousel-item-3" class="carousel-item" href="http://www.tcsnycmarathon.org/" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-3" src="assets/images/new-york.jpg">
                    <span id="card-title-3" class="card-title">New York City</span>
                </div>
            </div>
            <div id="carousel-modal-3" class="card-modal">
                <p id="carousel-modal-date-3" class="carousel-modal-date">11/5/2018</p>
                <p id="carousel-modal-city-state-3" class="carousel-modal-city-state">New York, NY</p>
                <p id="carousel-modal-temp-3" class="carousel-modal-temp">48.5&deg;</p>
            </div>
        </a>
        <a id="carousel-item-4" class="carousel-item" href="https://www.chicagomarathon.com/" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-4" src="assets/images/chicago.jpg">
                    <span id="card-title-4" class="card-title">Chicago</span>
                </div>
            </div>
            <div id="carousel-modal-4" class="card-modal">
                <p id="carousel-modal-date-1" class="carousel-modal-date">10/8/2018</p>
                <p id="carousel-modal-city-state-4" class="carousel-modal-city-state">Chicago, IL</p>
                <p id="carousel-modal-temp-4" class="carousel-modal-temp">51.0&deg;</p>
            </div>
        </a>        
    </div>
</div>

<div class="container" id="input-container">
    <div class="row">
        <div class="col s4 offset-s2">
            <a id="location-btn" class="dropdown-button btn waves-effect waves-light blue darken-1 z-depth-3" data-activates="dropdown-location">
                Location <i class="material-icons right">arrow_drop_down</i>
            </a>
            <ul id="dropdown-location" class="dropdown-content">
                <li><a id="CA">CA</a></li>
            </ul>
        </div>
        <div class="col s4">
            <a id="distance-btn" class="dropdown-button btn waves-effect waves-light blue darken-1 z-depth-3" data-activates="dropdown-distance">
                Distance <i class="material-icons right">arrow_drop_down</i>
            </a>
            <ul id="dropdown-distance" class="dropdown-content">
                <li><a id="marathon">Marathon</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="slider-date-container">
                <h4 id="time-header">Time Period</h4>
                <div id="slider-date"></div>
                <span class="" id="event-start"></span>
                <span class="" id="event-end"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button id="race-submit-btn" class="btn waves-effect waves-light blue darken-1 z-depth-3" type="submit" name="action">Search</button>
        </div>
    </div>
</div>
<br>

<!-- login modal -->
<div id="login-modal" class="modal">
    <div class="modal-content">
        <h3 id="match-header">Login</h3>
        <form>
            <div class="input-field">
                <input id="user-name" type="text">
                <label for="user-name">User ID</label>
                <button id="user-submit-btn" class="btn waves-effect waves-light blue darken-3"
                        type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>

<!-- validation modal -->
<div id="validate-modal" class="modal">
    <div class="modal-content">
        <h3 id="match-header">Error</h3>
        <p id="validate-error-message"></p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-blue darken-3 btn-flat">OK</a>
    </div>
</div>