<div class="container" id="login-container">
    <div class="row">
        <div class="col s12">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> <span id="user"></span><span id="login">Login</span>
        </div>
    </div>
</div>
<h1 id="race-header">Race Finder</h1>

<div class="container" id="jumbotron">
    <img id="running-man" src="assets/images/running.gif">

    <div id="carousel" class="carousel">
        <a id="carousel-item-0" class="carousel-item" href="http://www.bsim.org/site3.aspx" target="_blank">
            <div class="card">

                <div class="card-image">
                    <img id="card-img-0" src="assets/images/big-sur.jpg">
                    <span id="card-title-0" class="card-title">Big Sur</span>
                </div>

            </div>
        </a>
        <a id="carousel-item-1" class="carousel-item" href="http://www.thesfmarathon.com/" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-1" src="assets/images/san-francisco.jpg">
                    <span id="card-title-1" class="card-title">San Francisco</span>
                </div>
            </div>
        </a>
        <a id="carousel-item-2" class="carousel-item" href="http://www.baa.org/races/boston-marathon.aspx" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-2" src="assets/images/boston.jpg">
                    <span id="card-title-2" class="card-title">Boston</span>
                </div>
            </div>
        </a>
        <a id="carousel-item-3" class="carousel-item" href="http://www.tcsnycmarathon.org/" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-3" src="assets/images/new-york.jpg">
                    <span id="card-title-3" class="card-title">New York City</span>
                </div>
            </div>
        </a>
        <a id="carousel-item-4" class="carousel-item" href="https://www.chicagomarathon.com/" target="_blank">
            <div class="card">
                <div class="card-image">
                    <img id="card-img-4" src="assets/images/chicago.jpg">
                    <span id="card-title-4" class="card-title">Chicago</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="input-container">
    <div class="row">
        <div class="col s4 offset-s2">
            <h4 id="state-header">Location</h4>
            <div class="input-field">
                <select id="state">
                <option value="" disabled selected>Select a State</option>
                <option value="CA" selected>CA</option>
                </select>
            </div>
        </div>
        <div class="col s4">
            <h4 id="distance-header">Distance</h4>
            <div class="input-field">
                <select id="distance">
                <option value="" disabled selected>Select a Race Distance</option>
                <option value="Marathon" selected>Marathon</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="slider-date-container">
                <h4 id="time-header">Time Period</h4>
                <div id="slider-date"></div>
                <span class="" id="event-start"></span>
                <span class="" id="event-end"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button id="race-submit-btn" class="btn waves-effect waves-light blue darken-3 z-depth-3" type="submit" name="action">Search</button>
        </div>
    </div>
</div>
<br>

<!-- Results Modal -->
<div id="results-modal" class="modal">
    <div id="races-container" class="modal-content">
         <div id="carousel" class="carousel">
                <a class="carousel-item1" href="http://www.bsim.org/site3.aspx" target="_blank">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/big-sur.jpg">
                            <span class="card-title">Big Sur</span>
                        </div>
                    </div>
                </a>
                <a class="carousel-item2" href="http://www.thesfmarathon.com/" target="_blank">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/san-francisco.jpg">
                            <span class="card-title">San Francisco</span>
                        </div>
                    </div>
                </a>
                <a class="carousel-item3" href="http://www.baa.org/races/boston-marathon.aspx" target="_blank">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/boston.jpg">
                            <span class="card-title">Boston</span>
                        </div>
                    </div>
                </a>
                <a class="carousel-item4" href="http://www.tcsnycmarathon.org/" target="_blank">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/new-york.jpg">
                            <span class="card-title">New York City</span>
                        </div>
                    </div>
                </a>
                <a class="carousel-item5" href="https://www.chicagomarathon.com/" target="_blank">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/chicago.jpg">
                            <span class="card-title">Chicago</span>
                        </div>
                    </div>
                </a>
            </div>
        {{!-- <h3 id="match-header">Your Races</h3>
        <p id="match-name"></p>
        <p><span id="match-city"></span>, <span id="match-state"></p>
        <p id="match-date"></p>
        <p><span id="match-temp"></span>&deg;</p> --}}
    </div>
    <div class="card-action">
        <a href="" id="match-url" target="_blank"></a>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-blue darken-3 btn-flat">OK</a>
    </div>
</div>

<!-- login modal -->
<div id="login-modal" class="modal">
    <div class="modal-content">
        <h3 id="match-header">Login</h3>
        <form>
            <div class="input-field">
                <input id="user-name" type="text">
                <label for="user-name">User ID</label>
                <button id="user-submit-btn" class="btn waves-effect waves-light blue darken-3"
                        type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>

<!-- validation modal -->
<div id="validate-modal" class="modal">
    <div class="modal-content">
        <h3 id="match-header">Error</h3>
        <p id="validate-error-message"></p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-blue darken-3 btn-flat">OK</a>
    </div>
</div>