body {
	background-color: white;
	text-align: center;
}

#login-container {
  margin-top: 5px;
	text-align: right;
	color: #1976d2;
}

#login {
  cursor: pointer;
}

#race-header {
    margin-top: 10px;
    margin-bottom: 30px;
}

.dropdown-content li>span {
  color: #1e88e5;
}

.row {
    margin-bottom: 10px;
}

#input-container {
    padding-top: 20px;
	/* background-color: #f8f8f8; */
    border-top: 1px solid #cbd2d6;
}

#jumbotron {
	padding-top: 10px;
    margin-bottom: 40px;
    border-top: 1px solid #cbd2d6;
    height: 250px;
}

#carousel {
  height: 400px;
}

#state-header,
#distance-header,
#time-header {
    margin-top: 0px;
    font-size: 28px;
}

.input-field,
#slider-date-container {
    margin:0 auto;
    width: 200px;
    text-align: center;
}

#slider-date-container {
	width: 400px;
	margin-bottom: 20px;
}

#time-label {
  font-size: 1em;
  color: black;
}

#slider-date {
  margin-top: 10px;
}

#event-start {
  margin-top: 5px;
  float: left;
}

#event-end {
  margin-top: 5px;
  float: right;
}

#running-man-img {
    width: 150px;
}

#race-submit-btn,
#user-submit-btn,
.dropdown-button.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#results-modal,
#login-modal {
  text-align: center;
  height: auto;
}

#results-carousel {
	height: 300px;
}

img {
  max-width:100%;
  max-height: 100%;
}

span {
  display: inline-block;
}

#carousel {
	height: 250px;
}

/* label color */
.input-field label {
	color: #1e88e5;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #1e88e5;
}

/* label underline focus color */
input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #1e88e5;
	box-shadow: 0 1px 0 0 #1e88e5;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
	color: #1e88e5;
}

/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid #000;
box-shadow: 0 1px 0 0 #000;
}

#marathon,
#CA {
  color: #1e88e5;
}

#running-man {
  display: none;
  height: 250px;
}

.carousel-dialog {
	position: relative;
	top: -245px;
	display: none;
	margin: 0 auto;
	min-width: 150px;
	max-width: 80%;
	background-color: black;
	color: white;
	border-radius: 4px;
}

.carousel-dialog-date {
  margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 4px;
}
.carousel-dialog-city-state {
  margin-top: 0px;
	margin-bottom: 0px;
}

.carousel-dialog-temp {
	margin-top: 0px;
	padding-bottom: 4px;
}
