#login-container {
    margin-top: 5px;
    text-align: right;
}

#login {
  cursor: pointer;
}

#race-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 10px;
}

#jumbotron,
#input-container {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}

#carousel {
  height: 250px;
}

#state-header,
#distance-header,
#time-header {
    margin-top: 0px;
    font-size: 28px;
}

.input-field,
#slider-date-container {
    margin:0 auto;
    width: 300px;
    text-align: center;
}

#time-label {
  font-size: 1em;
  color: black;
}

#slider-date {
  margin-top: 10px;
}

#event-start {
  margin-top: 5px;
  float: left;
}

#event-end {
  margin-top: 5px;
  float: right;
}

#running-man-img {
    width: 150px;
}

#race-submit-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#results-modal,
#login-modal {
  text-align: center;
}
